<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Pantry</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Welcome to My Pantry</h1>
    <% if (pantry === ['']) { %>
      <h4>Pantry is Empty</h4>
    <% } else { %>
    <ul>
      <% pantry.forEach((item)=>{ %>
        <li><h4><%= item.name %></h4></li>
          <form action="/users/<%= user._id %>/foods/<%= item._id %>/edit" method="GET">
          <button type="submit">Edit Item</button>
          </form>
          <form action="/users/<%= user._id %>/foods/<%= item._id %>?_method=DELETE" method="POST">
          <button type="submit">Delete Item</button>
          </form>
      <% }) %>
    </ul>
    <% } %>
    <a href="/users/<%=user._id%>/foods/new">Add a New Item</a>
  </body>
</html>
